language: java

cache:
  directories:
    - $HOME/.m2

jdk:
  - oraclejdk8
  - oraclejdk9

sudo: false

before_install:
  - cp src/build/travis-toolchains.xml ~/.m2/toolchains.xml
  - wget https://archive.apache.org/dist/maven/maven-3/3.5.2/binaries/apache-maven-3.5.2-bin.zip
  - unzip -qq apache-maven-3.5.2-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.5.2
  - export PATH=$M2_HOME/bin:$PATH

install: mvn -DskipTests=true -Dbasepom.check.skip-all=true -Dbasepom.it.skip=true -B -fae install
script: mvn -B -fae verify

addons:
  artifacts:
    debug: true
    bucket: travis-693115e4-8fb9-11e4-b64e-bcaec5228081
    key:
      secure: egFMS8s4a/W4ts0q2J2E/wFdMAT+VzWAQ85TVN8dopVJGsrTJKHKdAym2+SyAku/dkNtdxM8j6/ss3KKMe39/4aBtNB5x+rRehPVdrUCiL/zGUvmg0h9QFM0V1es6iXNEpq80CbItWIXtAgVgG4//+keC3AHZvTbG8seOe2EQgk=
    secret:
      secure: cVZS/vOdXfiuBDZZqPxeImkNMRnXWKryvlc6nHY/Jpz95ZBNM8XExTYTdYftXRCgWBB1t46pBo/fpKNaD2T7Rre73vhyru271b+dknQYy7NsbqVuJYA5oxV/tTpLLfAxhtlUInCOwK5uTUTOdLvjHrigAl1Yu8J8FNCAdCetYrw=
